*{
  padding: 0;
  margin: 0;
  border: 0;
  font-family: sans-serif;
}


header{
  padding-top: 5%;
  background-color: darkblue;
  padding-bottom: 5%;
  text-align: center;
}

main{
  padding-top: 14%;
  background-color: lightgrey;
  padding-bottom: 14%;
  text-align: center;
}

footer{
  padding-top: 5%;
  background-color: lightgreen;
  padding-bottom: 5%;
  text-align: center;
}
